* {
    font-family: Lato;
    margin: 0px;
}



.first-part-heading {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 600px;
    padding-bottom: 32px;
}

.first-part-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding-bottom: 32px;
}

.first-part {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}


.first-part1 {
     padding-top: 100px;
     padding-left: 50px;
}

.shop {
     height: 50px;
     width: 150px; 
     border-radius: 8px;
     background: #E55473;
     border: 0px;
     color: #FFF;
     font-size: 15px;
     font-weight: 700;

}

.first-part-picture {
    height: 800px;
    width: 600px;
}

.second-part-title {
    text-align: center;
    margin-top: 120px;
    color: #272727;
    font-size: 25
    px;
    font-weight: 800;
    padding-bottom: 10px;
}

.second-part-description {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    width: 500px;
    text-align: center;
    padding-left: 400px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.flower {
    height: 250px;
    width: 150px;
    margin-top: 50px;
    margin-left: 50px;

}

.third-part {
    display: flex;
    gap: 15px;
    margin-left: 250px;
    margin-bottom: 100px;
}

.part1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 300px;
    width: 250px;
}

.part2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 300px;
    width: 250px;
}

.part3 {
    border-radius: 300px 300px 0px 0px;
    background: lightgray;
    height: 300px;
    width: 250px;
}

.small-part {
    display: flex;
    padding-left: 200px;
}

.one {
    padding-right: 100px;
    padding-left: 95px;
}

.two {
    padding-right: 300px;
    padding-left: 70px;
    padding-top: 10px;
}

.subpart {
    color: #272727;
    font-size: 8px;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
    padding-left: 60px;
    padding-top: 8px;
    padding-bottom: 30px;
}

.fourth-part {
    display: flex;
  
    text-align: center;
    margin-left: 300px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 180px;
    width: 800px;
    margin-left: 240px;
    margin-right: 270px;
}

.chobi {
    height: 50px;
    width: 50px;
    
}

.fourth-part {
    color: rgba(39, 39, 39, 0.80);
    font-size: 10px;
    font-weight: 600; 
   
  
}

.pic-and-wright {
    margin-left: 100px;
    margin-top: 60px;
}

.fifth-part {
     display: flex;
     margin-top: 100px;
     background: rgba(229, 84, 115, 0.05);
     margin-bottom: 100px;

}

.fifth-part-title {
    color: #272727;
    font-size: 22px;
    font-weight: 800;
   
}

span {
    color: #E55473;
    font-size: 22px;
    font-weight: 800;
    
}

.fifth-part-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    width: 350px;
    height: 70px;
   
}

.fifth-part-c1 {
     margin-left: 220px;
     margin-top: 170px;
}

.fifth-part-title {
    padding-left: 30px;
    padding-bottom: 10px;
}

.sign {
    
        height: 50px;
        width: 130px; 
        border-radius: 8px;
        background: #E55473;
        border: 0px;
        color: #FFF;
        font-size: 15px;
        font-weight: 700;
        margin-left: 100px;
   
  
}

.c2-chobi {
    height: 230px;
    width: 150px;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 200px;
}

.insta {
    color: #272727;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 10px;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    width: 500px;
    padding-left: 400px;
    padding-bottom: 40px;
}

.part-6 {
     display: flex;
     margin-left: 280px;
     margin-right: 100px;
     gap: 25px;
    
}

.part-6 img {
     height: 200px;
}

.part-7-heading {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 20px;
}


.part-7 {
     background: black;
     width: 100%;
     height: 280px;
     margin-top: 100px;
}

.part-7-title {
    color: #FFF;
    font-size: 32px;
    text-align: center;
    font-weight: 800;
    padding-top: 60px;
    padding-bottom: 10px;
}

.part {
    color: #E55473;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.part-7-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    width: 400px;
    padding-left: 430px;
    padding-bottom: 15px;
}

.la {
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 8px;
font-weight: 400;

}



